

<h1 style="text-align: center;">{{title}}</h1>

<div class="container">
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick) = "onChoseLocation($event)" [zoom] ="zoom">
    <!-- đánh dấu vị trí -->
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>

    <!-- <agm-marker [latitude]="lat2" [longitude]="lng2" [markerDraggable]="true"></agm-marker> -->

    <!-- <agm-marker *ngFor="let marker of markers" 
        [latitude]="marker.lat"  [longitude]="marker.lng">    
          <agm-info-window #infoWindow> {{ marker.label }}
          </agm-info-window>
    </agm-marker> -->
  </agm-map>

  <ul *ngFor = "let data of marker">
    <li> Label: {{data.label}} Lat: {{data.lat}} Lng: {{data.lng}}</li>
  </ul>

  <!-- <pre>{{marker}}</pre> -->
</div>



