

<h1 style="text-align: center;">{{title}}</h1>

<div class="container">
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick) = "onChoseLocation($event)" [zoom] ="zoom">
    <!-- đánh dấu vị trí -->
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>

    <!-- <agm-marker [latitude]="lat2" [longitude]="lng2" [markerDraggable]="true"></agm-marker> -->

    <!-- <agm-marker *ngFor="let marker of markers" 
        [latitude]="marker.lat"  [longitude]="marker.lng">    
          <agm-info-window #infoWindow> {{ marker.label }}
          </agm-info-window>
    </agm-marker> -->
  </agm-map>

  <br>
  <br>
  <!-- <ul *ngFor = "let data of marker">
    <li> Address: {{data.address}} Lat: {{data.lat}} Lng: {{data.lng}} Radius: {{data.radius}}</li>
  </ul> -->

  <table>
    <thead>
       <th>Address</th>
       <th>Lat</th>
       <th>Lng</th>
       <th>Radius</th>
    </thead>

    <tbody>
       <tr *ngFor="let data of marker">
          <td>{{data.address}}</td>
          <td>{{data.lat}}</td>
          <td>{{data.lng}}</td>
          <td>{{data.radius}}</td>
       </tr>
    </tbody>
 </table>

  <br>
  <br>
  <!-- <div>Address: {{postData.address}} </div> -->
</div>



