
<div  style="text-align: center" i18n="Welcome|This is my page.@@welcome">
  <h2>Map Project</h2>
</div>

<div class="container" >

  <!-- Search -->

  <div class="form-group">
    <label i18n="Welcome|This is my page."> Enter address</label>
    <input type="text" name="search" class="form-control" 
          (keydown.enter) = "$event.preventDefault()" placeholder="Search Location"
          autocorrect = "off" autocapitalize="off" spellcheck="off" #search>
  </div>

  <!-- Hiển thị bản đồ -->
  <agm-map [latitude]="lat" [longitude]="lng" [zoom] ="zoom" (mapClick) = "onChoseLocation($event)">

    <!-- đánh dấu vị trí -->
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true">
      <!-- Hiện thông tin khi tìm kiếm  -->
      <agm-info-window>
        <form>
          <div class = "info">
            <div class = "left"><label for="lat">Lat</label></div>
            <div class = "right"><input type="text" class="form-control" name="lat" value="{{lat}}" readonly /></div>
          </div>
          
          <div class = "info">
            <div class = "left"><label for="lng">Lng</label></div>
            <div class = "right"><input type="text" class="form-control" name="lng" value="{{lng}}" readonly /></div>
          </div>
        </form>      
      </agm-info-window>
      
    </agm-marker>

    <!-- <agm-marker [latitude]="lat2" [longitude]="lng2" [markerDraggable]="true"></agm-marker> -->
    <!-- <agm-marker *ngFor="let data of marker" [latitude]="data.lat" [longitude]="data.lng" 
      [markerDraggable]="true">  
          <agm-info-window class="infoWindow"> 
              <div class = "infoWindow">
                <form>
                 <header>{{data.provinceName}}</header>
                 
                  <div class = "info">
                    <div class = "left"><label for="address">Address</label></div>
                    <div class = "right"><input type="text" class="form-control" name="address" value="{{data.address}}" readonly/></div>
                  </div>
                 
                  <div class = "info">
                    <div class = "left"><label for="concaveCode">Concave Code</label></div>
                    <div class = "right"><input type="text" class="form-control" name="concaveCode" value="{{data.concaveCode}}" readonly/></div>
                  </div>
                  
                  <div class = "info">
                    <div class = "left"><label for="concaveType">Concave Type</label></div>
                    <div class = "right"><input type="text" class="form-control" name="concaveType" value="{{data.concaveType}}" readonly/></div>
                  </div>
                  
                  <div class = "info">
                    <div class = "left"><label for="lat">Lat</label></div>
                    <div class = "right"><input type="text" class="form-control" name="lat" value="{{data.lat}}" readonly /></div>
                  </div>
                  
                  <div class = "info">
                    <div class = "left"><label for="lng">Lng</label></div>
                    <div class = "right"><input type="text" class="form-control" name="lng" value="{{data.lng}}" readonly /></div>
                  </div>
                 
                  <div class = "info">
                    <div class = "left"><label for="radius">Radius</label></div>
                    <div class = "right"><input type="text" class="form-control" name="radius" value="{{data.radius}}" readonly /></div>
                  </div>
                  
                  <div class = "info">
                    <div class = "left"><label for="areaName">Area Name</label></div>
                    <div class = "right"><input type="text" class="form-control" name="areaName" value="{{data.areaName}}" readonly/></div>
                  </div>
                  
                  <div class = "info">
                    <div class = "left"><label for="provinceNames">Province Name</label></div>
                    <div class = "right"><input type="text" class="form-control" name="provinceName" value="{{data.provinceName}}" readonly /></div>
                  </div>
                 
                  <div class = "info">
                    <div class = "left"><label for="districtName">District Name</label></div>
                  <div class = "right"><input type="text" class="form-control" name="districtName" value="{{data.districtName}}" readonly /></div>
                  </div>
                  
                  <div class = "info">
                    <div class = "left"><label for="villageName">Village Name</label></div>
                    <div class = "right"><input type="text" class="form-control" name="villageName" value="{{data.villageName}}" readonly /></div>
                  </div>
                 
                  <div class = "info">
                    <div class = "left"><label for="ruralName">Rural Name</label></div>
                    <div class = "right"><input type="text" class="form-control" name="ruralName" value="{{data.ruralName}}" readonly /></div>
                  </div>
                  
                  <div class = "info">
                    <div class = "left"><label for="locationName">Location Name</label></div>
                    <div class = "right"><input type="text" class="form-control" name="locationName" value="{{data.locationName}}" readonly /></div>
                  </div>
                 
                  <div class = "info">
                    <div class = "left"><label for="source">Source</label></div>
                    <div class = "right"><input type="text" class="form-control" name="source" value="{{data.source}}" readonly /></div>
                  </div>
          
                </form>
              </div>
          </agm-info-window> 
    </agm-marker> -->

  

    <!-- Hiện hình tròn với bán kinh radius, trọng tâm (lat, lng) -->
    <!-- <agm-circle *ngFor="let data of circle" 
              [latitude] = "data.lat"
              [longitude] = "data.lng"
              [radius] = "data.radius"
              [circleDraggable] = "true"
              [editable] = "true"
              [fillColor] = "'red'">
    </agm-circle> -->
  </agm-map>

  <br>


    <div>Latitude: {{lat}}</div>
    <div>Longitude: {{lng}}</div>

  
  <!-- <br>

    <div>Latitude: {{lat}}</div>
    <div>Longitude: {{lng}}</div> -->


  
  <!-- <ul *ngFor = "let data of marker">
    <li> Address: {{data.address}} Lat: {{data.lat}} Lng: {{data.lng}} Radius: {{data.radius}}</li>
  </ul> -->

  
  <!-- <div>Address: {{postData.address}} </div> -->
</div>


<!-- Hiển thị bảng dữ liệu -->
<div class="tableData">
  <table>
    <thead>
       <th>Address</th>
       <th>Concave Code</th>
       <th>Concave Type</th>
       <th>Lat</th>
       <th>Lng</th>
       <th>Radius</th>
       <th>Area Name</th>
       <th>Province Name</th>
       <th>District Name</th>
       <th>Village Name</th>
       <th>Rural Name</th>
       <th>Location Name</th>
       <th>Source</th>
    </thead>

    <tbody>
       <tr *ngFor="let data of marker1">
          <td>{{data.address}}</td>
          <td>{{data.concaveCode}}</td>
          <td>{{data.concaveType}}</td>
          <td>{{data.lat}}</td>
          <td>{{data.lng}}</td>
          <td>{{data.radius}}</td>
          <td>{{data.areaName}}</td>
          <td>{{data.provinceName}}</td>
          <td>{{data.districtName}}</td>
          <td>{{data.villageName}}</td>
          <td>{{data.ruralName}}</td>
          <td>{{data.locationName}}</td>
          <td>{{data.source}}</td>
       </tr>
    </tbody>
 </table>

</div>




